<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav icon-only" fixedInViewport mode="side" opened>
    <mat-nav-list class="nav-list">
      <mat-list-item
        class="side-item"
        [routerLink]="'/'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        matTooltip="Inicio"
        matTooltipPosition="right"
      >
        <mat-icon>home</mat-icon>
      </mat-list-item>
      @if (userLogged()) {
        @for (item of config().items; track item.route) {
          <mat-list-item
            class="side-item"
            [routerLink]="item.route"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            matTooltip="{{ item.label }}"
            matTooltipPosition="right"
          >
            <mat-icon>{{ item.icon }}</mat-icon>
          </mat-list-item>
        }
      }
      <mat-list-item
        class="side-item"
        matTooltip="Ayuda"
        matTooltipPosition="right"
        routerLink="help"
      >
        <mat-icon>help</mat-icon>
      </mat-list-item>
      @if (userLogged()) {
        <mat-list-item
          class="side-item"
          matTooltip="Cerrar sesión"
          matTooltipPosition="right"
          (click)="logout()"
        >
          <mat-icon>logout</mat-icon>
        </mat-list-item>
      }
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
