<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="sidenav"
    fixedInViewport
    [mode]="'over'"
    [opened]="this.isOpen() && config().enabled"
    [style.width.px]="sidenavWidth()"
  >
    <mat-nav-list class="nav-list">
      @for (item of config().items; track item.route) {
      <div class="menu-group">
        <mat-list-item
          class="side-item"
          [class.collapsed]="!this.isOpen()"
          (click)="toggleItem(item.route)"
        >
          <span>{{ item.label }}</span>
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        </mat-list-item>
      </div>
      }
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
