@if (imagesCount() > 0) {
  <div class="main-image-container">
    @if (currentImage(); as img) {
      <img
        [src]="img"
        [attr.key]="img"
        alt="Imagen propiedad"
        class="main-image"
      />
    }
    <div class="image-navigation-overlay">
      <button
        mat-icon-button
        class="nav-btn nav-prev"
        (click)="prevImage()"
        [disabled]="currentImageIndex() === 0"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button
        mat-icon-button
        class="nav-btn nav-next"
        (click)="nextImage()"
        [disabled]="currentImageIndex() === imagesCount() - 1"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    <div class="image-counter">
      {{ currentImageIndex() + 1 }} / {{ imagesCount() }}
    </div>
  </div>

  @if (imagesCount() > 1 && showThumbnails()) {
    <div class="thumbnails-container">
      @for (image of images(); track $index) {
        <button
          class="thumbnail-btn"
          [class.active]="currentImageIndex() === $index"
          (click)="setCurrentImage($index)"
        >
          <img
            [src]="image"
            [alt]="'Thumbnail ' + ($index + 1)"
            class="thumbnail-image"
          />
        </button>
      }
    </div>
  }
}
