<common-entity-page
  [elements]="properties()"
  [descriptor]="descriptor"
  [primaryActionLabel]="'Modificar'"
  [primaryAction]="primaryAction.bind(this)"
  [secondaryActionLabel]="'Ver'"
  [secondaryAction]="secondaryAction.bind(this)"
  [thirdActionLabel]="thirdActionLabel.bind(this)"
  [thirdAction]="thirdAction.bind(this)"
  [iconUrl]="'/property.png'"
  [pageTitle]="'Viviendas'"
  [allLoadedLabel]="'Estas son todas tus viviendas.'"
  [hasMoreEntities]="canQuery()"
  [loadMoreLabel]="'Recuperar más viviendas'"
  [loadMoreEntities]="loadMore.bind(this)"
  [newEntityLabel]="'Nueva vivienda'"
  [newEntity]="create.bind(this)"
  [zeroEntitiesLabel]="'Aún no tienes viviendas registradas.'"
  [createFirstEntityLabel]="'Crear la primera vivienda'"
>
</common-entity-page>
