<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <app-generic-dialog
    dialogTitle="Create a new building"
    [activeSaveButton]="form.valid"
  >
    <ng-template #content>
      <div class="form-container">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Name</mat-label>
          <input
            matInput
            formControlName="name"
            [maxLength]="50"
            cdkFocusInitial
            placeholder="Enter building name"
          />
          @if (nameControl?.invalid && nameControl?.touched) {
          <mat-error>Name is required</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            [maxLength]="200"
            rows="3"
            placeholder="Describe your building..."
          ></textarea>
          @if (descriptionControl?.invalid && descriptionControl?.touched) {
          <mat-error>Description is required</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Building type</mat-label>
          <mat-select>
            @for (type of types; track $index) {
            <mat-option [value]="type.value">{{ type.viewValue }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Address</mat-label>
          <input
            matInput
            formControlName="address"
            [maxLength]="100"
            placeholder="Building address"
          />
          @if (addressControl?.invalid && addressControl?.touched) {
          <mat-error>Address is required</mat-error>
          }
        </mat-form-field>

        <div class="image-upload">
          <mat-label for="imageInput">Upload Images</mat-label>
          <input
            type="file"
            id="imageInput"
            multiple
            (change)="onImagesSelected($event)"
            accept="image/*"
          />
        </div>

        @if (previewUrls().length > 0) {
        <div class="image-preview-container">
          @for (image of previewUrls(); track $index) {
          <div class="image-preview">
            <img [src]="image" alt="Image preview" />
          </div>
          }
        </div>
        }
      </div>
    </ng-template>
  </app-generic-dialog>
</form>
