<common-entity-page
  [elements]="favorites()"
  [descriptor]="descriptor"
  [primaryActionLabel]="'Ver elemento'"
  [primaryAction]="primaryAction.bind(this)"
  [secondaryActionLabel]="'Eliminar'"
  [secondaryAction]="secondaryAction.bind(this)"
  [iconUrl]="'/location.png'"
  [pageTitle]="'Favoritos'"
  [allLoadedLabel]="'Estos son todos tus favoritos.'"
  [hasMoreEntities]="canQuery()"
  [loadMoreLabel]="'Recuperar más favoritos'"
  [loadMoreEntities]="loadMore.bind(this)"
  [chipFilters]="chipFilters"
  [currentFilter]="currentFilter()"
  (changeFilter)="changeFavoriteType($event)"
  [zeroEntitiesLabel]="'Aún no tienes favoritos registrados.'"
>
</common-entity-page>
