<common-entity-page
  [elements]="contacts()"
  [descriptor]="descriptor"
  [primaryActionLabel]="'Ver negociación'"
  [primaryAction]="primaryAction.bind(this)"
  [secondaryActionLabel]="'Ver propiedad'"
  [secondaryAction]="secondaryAction.bind(this)"
  [thirdActionLabel]="thirdActionLabel.bind(this)"
  [canExecuteThirdAction]="canExecuteThirdAction.bind(this)"
  [thirdAction]="thirdAction.bind(this)"
  [iconUrl]="'/property.png'"
  [pageTitle]="'Solicitudes de Negociación'"
  [allLoadedLabel]="'Estas son todas las solicitudes de negociación.'"
  [hasMoreEntities]="canQuery()"
  [loadMoreLabel]="'Recuperar más solicitudes de negociación'"
  [loadMoreEntities]="loadMore.bind(this)"
  [zeroEntitiesLabel]="'Aún no tienes solicitudes de negociación registradas.'"
>
</common-entity-page>
