<common-entity-page
  [elements]="contacts()"
  [descriptor]="descriptor"
  [primaryActionLabel]="'Ver propiedad'"
  [primaryAction]="primaryAction.bind(this)"
  [secondaryActionLabel]="'Ver solicitud'"
  [canExecuteSecondaryAction]="canExecuteSecondaryAction.bind(this)"
  [secondaryAction]="secondaryAction.bind(this)"
  [thirdActionLabel]="'Eliminar'"
  [canExecuteThirdAction]="canExecuteThirdAction.bind(this)"
  [thirdAction]="thirdAction.bind(this)"
  [iconUrl]="'/location.png'"
  [pageTitle]="'Solicitudes de Contacto'"
  [allLoadedLabel]="'Estas son todas las solicitudes de contacto.'"
  [hasMoreEntities]="canQuery()"
  [loadMoreLabel]="'Recuperar más solicitudes de contacto'"
  [loadMoreEntities]="loadMore.bind(this)"
>
</common-entity-page>
