<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <app-generic-dialog
    dialogTitle="Nuevo inmueble"
    [activeSaveButton]="form.valid"
    [isLoading]="isLoading()"
  >
    <ng-template #content>
      <div class="form-container">
        <div class="form-layout">
          <div class="form-left">
            <div class="header-fields">
              <mat-form-field appearance="outline" class="compact-field">
                <mat-label>Nombre</mat-label>
                <input
                  matInput
                  formControlName="name"
                  [maxLength]="50"
                  cdkFocusInitial
                  placeholder="Ingresá el nombre del inmueble..."
                  appUppercase
                />
                @if (nameControl?.invalid && nameControl?.touched &&
                nameControl?.errors?.['required']) {
                <mat-error>El nombre es requerido</mat-error>
                } @if (nameControl?.invalid && nameControl?.touched &&
                nameControl?.errors?.['minlength']) {
                <mat-error
                  >El nombre debe tener al menos 5 caracteres</mat-error
                >
                }
              </mat-form-field>

              <mat-form-field appearance="outline" class="compact-field">
                <mat-label>Tipo</mat-label>
                <mat-select
                  formControlName="type"
                  placeholder="Seleccioná el tipo de inmueble"
                  panelClass="building-type-options"
                >
                  <mat-option [value]="'EDIFICIO'">
                    <div class="building-option-content">
                      <mat-icon fontIcon="apartment"></mat-icon>
                      Edificio
                    </div>
                  </mat-option>
                  <mat-option [value]="'COMPLEJO'">
                    <div class="building-option-content">
                      <mat-icon fontIcon="domain"></mat-icon>
                      Complejo
                    </div>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <mat-form-field appearance="outline" class="compact-field">
              <mat-label>Descripción</mat-label>
              <textarea
                matInput
                formControlName="description"
                [maxLength]="400"
                rows="3"
                placeholder="Describí brevemente el inmueble..."
              ></textarea>
            </mat-form-field>

            <div class="address-container">
              <mat-form-field
                appearance="outline"
                class="compact-field address-field"
              >
                <mat-label>Dirección</mat-label>
                <input
                  matInput
                  formControlName="address"
                  [maxLength]="100"
                  placeholder="Ingresá la dirección del inmueble..."
                />
                @if (addressControl?.invalid && addressControl?.touched &&
                addressControl?.errors?.['required']) {
                <mat-error>La dirección es requerida</mat-error>
                } @if (addressControl?.invalid && addressControl?.touched &&
                addressControl?.errors?.['minlength']) {
                <mat-error
                  >La dirección debe tener al menos 5 caracteres</mat-error
                >
                } @if (!addressControl?.dirty) {
                <mat-hint
                  >Formato: Calle, Número, Ciudad, Provincia. Ejemplo: Alberdi,
                  493, Villa María, Córdoba</mat-hint
                >
                }
              </mat-form-field>

              <div class="address-actions">
                @if (searchingAddress()) {
                <mat-progress-spinner
                  mode="indeterminate"
                  diameter="30"
                ></mat-progress-spinner>
                } @else {
                <mat-button
                  matTooltip="Buscar dirección"
                  (click)="handleSearchAddress()"
                >
                  <mat-icon>search</mat-icon>
                </mat-button>
                }
              </div>
            </div>
          </div>

          <div class="form-right">
            <div class="map-container">
              <mat-label>O marcá la dirección en el mapa</mat-label>
              <div class="map-wrapper">
                <app-map
                  [config]="mapConfig()"
                  (mapClick)="handleMapClick($event)"
                ></app-map>
              </div>
            </div>
          </div>
        </div>

        <div class="image-section">
          <image-loader
            [title]="'Subí las imágenes del inmueble'"
            [images]="imagesControl?.value ?? null"
            (imageUploaded)="handleImageUploaded($event)"
            (imageRemoved)="handleImageRemoved($event)"
          ></image-loader>

          <div class="image-error-wrapper">
            @if (imagesControl?.errors?.['required'] && imagesControl?.touched)
            {
            <mat-error class="image-error"
              >Al menos una imagen es requerida</mat-error
            >
            } @if (imagesControl?.errors?.['maxSize'] && imagesControl?.touched)
            {
            <mat-error class="image-error"
              >Las imágenes deben pesar como máximo 3MB</mat-error
            >
            } @if (imagesControl?.errors?.['allowedTypes'] &&
            imagesControl?.touched) {
            <mat-error class="image-error">
              Las imágenes deben ser de tipo JPG, JPEG, PNG o WEBP
            </mat-error>
            }
          </div>
        </div>
      </div>
    </ng-template>
  </app-generic-dialog>
</form>
