:host {
  width: 100%;
  display: block;
  min-height: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  background-color: #1a1e2b;
  padding: 20px 4px;
  border-radius: 24px;
  height: 90%;
  min-height: 0;
  margin: 4px 16px;
}

.page-header {
  padding: 0 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.status-message {
  padding: 3rem 1rem;
  text-align: center;
  font-size: 1.1rem;
  color: #cbd5e1;
  background-color: #1c2230;
  border-radius: 12px;
  border: 1px solid #374151;
  width: 50%;
  margin: auto;
}

.back-button:hover {
  background-color: #374151;
  cursor: pointer;
}

.back-button {
  background-color: transparent;
  border-color: transparent;
  border-radius: 48px;
  color: #e2e8f0;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 64px;
}

.metabase-iframe {
  border-radius: 12px;
  border: 1px solid #374151;
}
