<mat-toolbar color="primary" class="navbar" [class.disabled]="navbarDisabled()">
  <div class="nav-left">
    @if (userLogged()) {
    <button
      mat-icon-button
      (click)="toggleSidebar()"
      matTooltipPosition="below"
      class="sidebar-toggle"
    >
      <mat-icon>{{ sidebarOpened() ? "menu_open" : "menu" }}</mat-icon>
    </button>
    }

    <div class="brand-container">
      <a routerLink="/" class="brand-link">
        <mat-icon>cottage</mat-icon>
        <span class="brand-text">PropInq</span>
      </a>
    </div>
  </div>

  <div class="nav-center">
    <div class="nav-actions">
      <a
        class="nav-action-link nav-action-featured"
        (click)="handlePublish()"
        [matMenuTriggerFor]="publishMenu"
      >
        Publicar
      </a>
      <mat-menu #publishMenu="matMenu">
        <div class="menu-content">
          <button mat-menu-item (click)="publishBuilding()">
            <mat-icon>apartment</mat-icon>
            <span>Nuevo inmueble</span>
          </button>
          <button mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>Nueva vivienda</span>
          </button>
        </div>
      </mat-menu>
      @for (item of items(); track $index) {
      <a
        [routerLink]="item.url"
        class="nav-action-link"
        [ngClass]="{ 'nav-action-featured': item.featured }"
      >
        {{ item.name }}
      </a>
      }
    </div>
  </div>

  <div class="nav-right">
    <mat-divider class="vertical-divider" vertical></mat-divider>
    @if (userLogged()) {
    <button
      mat-icon-button
      matTooltip="Notificaciones"
      matTooltipPosition="below"
    >
      <mat-icon>notifications</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Mensajes" matTooltipPosition="below">
      <mat-icon>message</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Mi cuenta"
      matTooltipPosition="below"
      class="menu-trigger"
      [matMenuTriggerFor]="userMenu"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <div class="menu-content">
        <button mat-menu-item (click)="handleMyAccount()">
          <mat-icon>account_circle</mat-icon>
          <span>{{ username }}</span>
        </button>
        <button mat-menu-item (click)="handleLogout()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </div>
    </mat-menu>
    } @else {
    <a routerLink="/auth/signup" class="nav-action-link">Creá tu cuenta</a>
    <a routerLink="/auth/login" class="nav-action-link">Ingresá</a>
    }
  </div>
</mat-toolbar>


@if(showFilters() && isHomePage() && !sidebarOpened() && !propertyDetailsOpened() && !buildingDetailsOpened()) {
  <div class="navbar-filters">
    <app-navbar-filters></app-navbar-filters>
  </div>
}

