<div class="image-upload">
  <mat-label for="imageInput">{{ title() }}</mat-label>
  <input
    type="file"
    id="imageInput"
    multiple
    (change)="onImagesSelected($event)"
    accept="image/*"
  />
</div>

@if (previewUrls().length > 0) {
<div class="image-preview-container">
  @for (image of previewUrls(); track $index) {
  <div class="image-preview">
    <img [src]="image" alt="Image preview" />
    <button
      class="delete-button"
      (click)="removeImage($index)"
      type="button"
      aria-label="Eliminar imagen"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  }
</div>
}
