.signup-page-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100vw;
  padding: 0;
}

.signup-bg-half {
  width: 50vw;
  height: 100vh;
  background: linear-gradient(to right, #1a1e2b, #232a3b);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.signup-bg-half img {
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.signup-form-half {
  width: 50vw;
  height: 100vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form {
  width: 100%;
  max-width: 500px;
  min-width: 320px;
  margin: 0 auto;
  box-shadow: none;
  border-radius: 0;
  background: none;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  font-size: 58px;
  color: #000000;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

p strong {
  font-size: 28px;
  color: #000000;
  text-align: center;
  margin: 0;
}
p{
  font-size: 16px;
  color: #9c9b9b;
  text-align: center;
  margin: 0;
}

.login-link {
  margin-top: 16px;
  text-align: center;
  color: #3f51b5;
  text-decoration: none;
  display: block;
}

.input-field {
  width: 100%;
}

.submit-btn {
  margin-top: 14px;
  width: 100%;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 12px 0;
  border-radius: 8px;
  background: linear-gradient(to right, #1a1e2b, #232a3b);
  color: white;
}

.row-fields {
  display: flex;
  gap: 16px;
}

.row-fields .input-field {
  flex: 1 1 0;
  min-width: 0;
}

.login-link {
  margin-top: 16px;
  text-align: center;
  color: #3f51b5;
  text-decoration: none;
}


button[mat-icon-button][matSuffix] {
  background: transparent;
  border: none !important;
  border-radius: 16px;
  box-shadow: none !important;
  outline: none !important;
}

button[mat-icon-button][matSuffix]:hover {
  background: rgba(171, 169, 169, 0.163);
}

button[mat-icon-button][matSuffix]:focus {
  background: transparent !important;
  outline: none !important;
}

button[mat-icon-button][matSuffix] .mat-mdc-button-persistent-ripple {
  display: none !important;
}


