<div class="filters-container">
  <div class="filters-container-header">
    <h2>Filtros de búsqueda</h2>
    <button
      mat-fab
      class="action-fab"
      (click)="clearFilters()"
      matTooltip="Limpiar filtros"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="section-container">
    <div class="section">
      <span class="section-title">Tipos</span>
      <mat-chip-set>
        @for (propertyType of propertyTypes(); track propertyType) {
          <mat-chip selected (click)="selectPropertyType(propertyType)">
            @if (propertyType === selectedPropertyType()) {
              <mat-icon class="check-icon">check</mat-icon>
            }
            {{ propertyType }}</mat-chip
          >
        }
      </mat-chip-set>
    </div>
    <div class="section">
      <span class="section-title">Precio por mes</span>
      <div class="price-inputs">
        <div class="wrapper">
          <span>$</span>
          <input
            matInput
            type="number"
            value="10"
            placeholder="Mínimo"
            (input)="setMinPrice($any($event.target).value)"
          />
        </div>
        <span class="price-separator">–</span>
        <div class="wrapper">
          <span>$</span>
          <input
            matInput
            type="number"
            value="800000"
            placeholder="Máximo"
            (input)="setMaxPrice($any($event.target).value)"
          />
        </div>
      </div>
    </div>
    <div class="section">
      <span class="section-title">Características</span>
      <div class="features-list">
        @for (feature of checkFeatures(); track feature) {
          <mat-checkbox
            (change)="checkFeature(feature.value, $event.checked)"
            >{{ feature.label }}</mat-checkbox
          >
        }
      </div>
    </div>
    <div class="section">
      <span class="section-title">Espacios</span>
      <div class="ubication-selects">
        <div class="wrapper">
          <span class="icon">
            <mat-icon>hotel</mat-icon>
            <span>Habitaciones</span>
          </span>
          <mat-select class="space-select" required>
            @for (room of roomOptions(); track room) {
              <mat-option
                [value]="room"
                (onSelectionChange)="selectRooms(room)"
                >{{ room }}</mat-option
              >
            }
          </mat-select>
        </div>
        <div class="wrapper">
          <span class="icon">
            <mat-icon>bathtub</mat-icon>
            <span>Baños</span>
          </span>
          <mat-select class="space-select" required>
            @for (bath of bathOptions(); track bath) {
              <mat-option
                [value]="bath"
                (onSelectionChange)="selectBaths(bath)"
                >{{ bath }}</mat-option
              >
            }
          </mat-select>
        </div>
      </div>
    </div>
    <div class="section">
      <span class="section-title">Ubicación</span>
      <div class="ubication-selects">
        <div class="wrapper">
          <span class="icon">
            <mat-icon>location_city</mat-icon>
            <span>Provincia</span>
          </span>
          <mat-select
            class="space-select geo-select"
            required
            (selectionChange)="selectProvince($event.value)"
          >
            @for (province of provinces(); track province) {
              <mat-option [value]="province">{{ province.name }}</mat-option>
            }
          </mat-select>
        </div>
        <div class="wrapper">
          <span class="icon">
            <mat-icon>location_city</mat-icon>
            <span>Localidad</span>
          </span>
          <mat-select
            class="space-select geo-select"
            required
            (selectionChange)="selectLocality($event.value)"
          >
            @for (locality of localities(); track locality) {
              <mat-option [value]="locality">{{ locality.name }}</mat-option>
            }
          </mat-select>
        </div>
      </div>
    </div>
    <div class="section">
      <span class="section-title">Cercano a</span>
      <mat-chip-set>
        @for (nearToOption of nearTo(); track nearToOption) {
          <mat-chip (click)="selectNearToOption(nearToOption)">
            @if (nearToOption === selectedNearToOption()) {
              <mat-icon class="check-icon">check</mat-icon>
            }
            {{ nearToOption }}
          </mat-chip>
        }
      </mat-chip-set>
      @if (selectedNearToOption() === "Punto de interés") {
        <div class="wrapper margin-wrapper">
          <span class="icon">
            <mat-icon>location_on</mat-icon>
            <span>Punto de interés</span>
          </span>
          <mat-select
            class="space-select geo-select"
            required
            (selectionChange)="selectPointOfInterestType($event.value)"
          >
            @for (poiType of poiTypes(); track poiType) {
              <mat-option [value]="poiType.value">{{
                poiType.label
              }}</mat-option>
            }
          </mat-select>
        </div>
      }
      <div class="chip-slider">
        <span class="slider-label">Distancia</span>
        <mat-slider
          min="1"
          max="10"
          step="1"
          [attr.value]="radius()"
          (change)="changeRadius($event)"
        >
          <input
            matSliderThumb
            [value]="radius()"
            (change)="changeRadius($event)"
          />
        </mat-slider>
        <span class="slider-value">{{ radius() }} km</span>
      </div>
    </div>
  </div>
</div>
