<common-entity-page
  [elements]="contacts()"
  [descriptor]="descriptor"
  [chipFilters]="chipFilters"
  [currentFilter]="currentFilter()"
  (changeFilter)="changeContactState($event)"
  [isInitialLoading]="isInitialLoading()"
  [filterByText]="true"
  (textChange)="changeText($event)"
  [primaryActionLabel]="'Ver negociación'"
  [primaryAction]="primaryAction.bind(this)"
  [secondaryActionLabel]="'Ver propiedad'"
  [secondaryAction]="secondaryAction.bind(this)"
  [thirdActionLabel]="thirdActionLabel.bind(this)"
  [canExecuteThirdAction]="canExecuteThirdAction.bind(this)"
  [thirdAction]="thirdAction.bind(this)"
  [iconUrl]="'/property.png'"
  [pageTitle]="'Negociaciones'"
  [allLoadedLabel]="'Estas son todas las negociaciones.'"
  [hasMoreEntities]="canQuery()"
  [loadMoreLabel]="'Recuperar más negociaciones'"
  [loadMoreEntities]="loadMore.bind(this)"
  [zeroEntitiesLabel]="'No se encontraton negociaciones.'"
>
</common-entity-page>
