<common-entity-page
  [elements]="contacts()"
  [descriptor]="descriptor"
  [primaryActionLabel]="'Ver contacto'"
  [primaryAction]="primaryAction.bind(this)"
  [secondaryActionLabel]="'Ver propiedad'"
  [secondaryAction]="secondaryAction.bind(this)"
  [thirdActionLabel]="thirdActionLabel.bind(this)"
  [canExecuteThirdAction]="canExecuteThirdAction.bind(this)"
  [thirdAction]="thirdAction.bind(this)"
  [iconUrl]="'/location.png'"
  [pageTitle]="'Solicitudes de Contacto'"
  [allLoadedLabel]="'Estas son todas las solicitudes de contacto.'"
  [hasMoreEntities]="canQuery()"
  [loadMoreLabel]="'Recuperar más solicitudes de contacto'"
  [loadMoreEntities]="loadMore.bind(this)"
  [chipFilters]="chipFilters"
  [currentFilter]="currentFilter()"
  (changeFilter)="changeContactState($event)"
  [zeroEntitiesLabel]="'Aún no tienes solicitudes de contacto registradas.'"
>
</common-entity-page>
