<mat-dialog-content>
  <h2 mat-dialog-title>Respuesta a solicitud de negociación</h2>
  <div class="info-line">
    <mat-icon>person</mat-icon>
    {{ issuerFullName() }}
  </div>

  <div class="info-line">
    <mat-icon>chat</mat-icon>
    <span class="info-text">{{ message() }}</span>
  </div>

  <div class="decision-group">
    <button
      mat-button
      class="decision-btn accept"
      [class.active]="action === 'ACCEPT'"
      (click)="changeAction('ACCEPT')"
    >
      Aceptar
    </button>

    <button
      mat-button
      class="decision-btn reject"
      [class.active]="action === 'REJECT'"
      (click)="changeAction('REJECT')"
    >
      Rechazar
    </button>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Mensaje</mat-label>
    <textarea
      matInput
      [formControl]="response"
      [maxLength]="300"
      rows="4"
      placeholder="Respondé la solicitud de contacto..."
    ></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button class="close-btn" [mat-dialog-close]="false">
    <mat-icon>close</mat-icon>
    Cerrar
  </button>
  <button
    mat-flat-button
    class="submit-btn"
    type="submit"
    [disabled]="isLoading() || response.invalid"
    (click)="submitAnswer()"
  >
    <div class="button-content">
      @if (isLoading()) {
        <mat-progress-spinner
          mode="indeterminate"
          diameter="20"
        ></mat-progress-spinner>
      } @else {
        <mat-icon>save</mat-icon>
        <span>{{ this.action === "ACCEPT" ? "Aceptar" : "Rechazar" }}</span>
      }
    </div>
  </button>
</mat-dialog-actions>
