html,
body {
  height: 100%;
  overflow:hidden;
}
body {
  margin: 0;
  background: linear-gradient(135deg, #0f111a 0%, #1c2230 100%);
  color: #f0f0f0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  min-height: 100vh;
}

.generic-dialog {
  padding: 4px;
  border-radius: 6px;
  max-width: 95vw !important;
  width: 95vw !important;
  height: 80vh !important;
  max-height: 90vh !important;
  background: #1a1e2b;
  animation: slideUp 0.5s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


